* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo-login {
  width: 50px;
  height: 50px;
}
.container-login {
  display: flex;
  justify-content: center;
  flex: 1;
}

main {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  gap: 13px;
}

.title-login {
  font-size: 1.3rem;
  font-weight: 600;
}

.icon-button {
  width: 20px;
  height: 20px;
}

.login-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input,
button {
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: solid #d8dcde 0.5px;
  transition: 0.1s;
}

input {
  font-size: 1.3rem;
  padding: 10px;
}

input:focus {
  border: solid #4285f4 1.5px;
}

label {
  font-size: 0.85rem;
  font-weight: bold;
}
.button-login {
  background-color: #1f883c;
  border: none;
  color: white;
  font-size: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #d8dcde;
  color: white;
  margin-top: 10px;
}

.links-footer {
  display: flex;
  width: 100%;
  max-width: 800px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.links-footer > a {
  color: rgb(79, 78, 78);
  font-size: 13px;
}

.group {
  margin-top: 5px;
  width: 100%;
}

.group input {
  margin-top: 5px;
}

.group-password {
  display: flex;
  justify-content: space-between;
}

a {
  outline: none;
  text-decoration: none;
  color: #4285f4;
  box-shadow: none;
  transition: .2s ease;
}

button:hover{
  cursor: pointer;
}
a:hover {
  text-decoration: 1px underline #4285f4;
  color: #4285f4;
}

.create-account {
  margin: 18px 0;
}

@media (max-width: 700px) {
  .links-footer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  color: #585757;
  font-size: 18px;
}
.divider::after,
.divider::before {
  content: "";
  flex: 1;
  border-bottom: 1.5px solid #b9baba;
}
.divider span {
  padding: 0 10px;
  white-space: nowrap; /* evita cortes raros */
}
